<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Ammar - Url Shortener</title>
</head>
<body>
    <form action="{{ url_for('index') }}" method="post">
        <div class="container">
            <label id="urlabel" for="url">Paste a long URL</label>
            <input type="text" id="url" name="url">
            <!-- output container -->
            <div class="output-container">
                <div class="output-flex">
                    <label for="">The shortend url is</label>
                    <a href="{{url}}">{{url}}</a>
                </div>
            </div>
        </div>
    </form>
    </body>
</html>
